<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Basic Title</title>
    {% endif %}
    <link rel="stylesheet" href="/GameSpotShop/styles/index.css">
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        {% if authenticated %}
        <a href="/login">Login</a>
        {% endif %}
        <a href="/add_items"> Add items</a>
    </div>
    <hr>
    <div class="btns">
        <button type="button" data-menu="all">All</button>
        <button type="button" data-menu="green">Name</button>
        <button type="button" data-menu="pirple">Developer</button>
        <button type="button" data-menu="red">Price</button>
    </div>
    <div class="allwrps">
        <div data-menu="green" class="single" style="background-color: green;">{{ form.name.label }}</div>
        <div data-menu="pirple" class="single" style="background-color: blueviolet;">{{ form.dev.label }}</div>
        <div data-menu="red" class="single">{{ form.price.label }}</div>
    </div>
    {% block content %} {% endblock %}
    <script>
        function Filtering() {
            let buttons = document.querySelectorAll('.btns button')
            let blocks  = document.querySelectorAll('.single')
            buttons.forEach(button => {
                button.addEventListener('click', (e) => {
                    blocks.forEach(block => {
                        block.classList.remove('active')
                        block.style.transform = `scale(0)`;
                        block.style.opacity = `0`;
                        block.style.visibility = `hidden`;
                        block.style.width = `0`;
                        block.style.marginLeft = `0`;
                        block.style.marginRight = `0`;
                        block.style.height = `0`;
                    })

                    blocks.forEach(blk => {
                        if (e.target.dataset.menu == blk.dataset.menu) {
                            blk.classList.add('active')
                            blk.style.transform = `scale(1)`;
                            blk.style.opacity = `1`;
                            blk.style.visibility = `visible`;
                            blk.style.width = `190px`;
                            blk.style.marginLeft = `5px`;
                            blk.style.marginRight = `5px`;
                            blk.style.height = `190px`;
                        }
                    })
                if (e.target.dataset.menu == 'all'){
                    blocks.forEach(block => {
                        block.classList.add('active')
                            block.style.transform = `scale(1)`;
                            block.style.opacity = `1`;
                            block.style.visibility = `visible`;
                            block.style.width = `190px`;
                            block.style.marginLeft = `5px`;
                            block.style.marginRight = `5px`;
                            block.style.height = `190px`;
                    })
                }


                })
            })
        }
        Filtering()

    </script>
</body>
</html>