<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>

    {% if authenticated %}
        <p>Welcome, guest!</p>
        <a href="/login">Login</a> | <a href="/sing_up">Sign up</a>
    {% else %}
        <p>Welcome, {{ current_user.username }}!</p>
        <a href="/logout">Logout</a>
    {% endif %}

    <div class="search-container">
        <label for="search-input">Search by Game Name:</label>
        <input type="text" id="search-input">
        <label for="genre-select">Genre:</label>
        <select id="genre-select">
            <option value="">All</option>
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="rpg">RPG</option>
            <!-- Добавьте другие жанры по желанию -->
        </select>
        <button id="search-button">Search</button>
    </div>

    <div class="games-container">
        {% for game in games %}
            <div class="game" data-genre="{{ game.genre }}" data-name="{{ game.name }}">
                <h3>{{ game.name }}</h3>
                <p>Price: ${{ game.price }}</p>
                <p>Developer: {{ game.developer }}</p>
                <p>Genre: {{ game.genre }}</p>
            </div>
        {% endfor %}
    </div>

    <a href="/add_items">Add Game</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.getElementById('search-input');
        var genreSelect = document.getElementById('genre-select');
        var searchButton = document.getElementById('search-button');

        searchButton.addEventListener('click', function() {
            var searchTerm = searchInput.value.toLowerCase();
            var selectedGenre = genreSelect.value.toLowerCase();
            searchGames(searchTerm, selectedGenre);
        });

        function searchGames(searchTerm, selectedGenre) {
            var gameElements = document.getElementsByClassName('game');

            for (var i = 0; i < gameElements.length; i++) {
                var gameName = gameElements[i].getAttribute('data-name').toLowerCase();
                var gameGenre = gameElements[i].getAttribute('data-genre').toLowerCase();
                var isNameMatch = gameName.includes(searchTerm);
                var isGenreMatch = selectedGenre === '' || gameGenre === selectedGenre;

                if (isNameMatch && isGenreMatch) {
                    gameElements[i].style.display = 'block';
                } else {
                    gameElements[i].style.display = 'none';
                }
            }
        }
    });
</script>