{% extends 'base.html' %}

{% block content %}
    <div class="games">

        <section class="filters">
            <h2>Filter by</h2>
            <h4>Price</h4>
            <div class="author">
                <form method="post">
                    {% for game in price %}
                        <input type="checkbox" name="price" id="{{ game.price }}" value="{{ game.price }}">
                        <label for="{{ game.price }}">{{ game.price }}</label><br>
                    {% endfor %}
                    <input type="submit" value="Filter!" id="btn-author">
                </form>
            </div>
        </section>
        <section class="game_list">
            {% for game in games_list %}
            <p>
                {{ game.name }} with price: {{ game.price }} $
            </p>
            <a href="{{ url_for('game', name=game.name) }}"><span>buy</span></a>
            {% endfor %}
        </section>
    </div>
{% endblock %